---
Checks: '
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  bugprone-*,
  modernize-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -uppercase-literal-suffix,
...
